body{
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
    border: 0;
}

#logo{
    width: 448px;
    margin: auto;
    float: left;
}
#menu{
    width: 448px;
    height: 57px;
    margin: auto;
    text-align: right;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
#capa{
    margin: 0;
    padding: 0;
    width: 900px;
}
#iii{
  
    width: 900px;
    height: 422px;
    clear: both;
}
